* 
{
    margin: 0;
    padding: 0;    
}
.clr 
{
    clear: both;  
}
ul, ol {
    list-style: none;
}
hr {
    display: none;
}
a:link, a:visited {
    font-size: 12px;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
fieldset, a img, img {
    border: none;
}
:focus {
    outline: none;
}
.hidden {
    display: none;
}
body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
}
#wrapper {
    overflow: hidden;
    position: relative;
    min-height: 100%;
    width: 100%;
    z-index: 1;
}
.wrapper-main {
    position: relative;
    margin: 0px auto;
    width: 1200px;
}
/*======================================================HEADER===========================================*/
#header-top {
    border-bottom: 1px solid #7994a9;
    padding-bottom: 1px;
    position: relative;
    width: 100%;
    z-index: 1001;
    height: 32px;
}
#header-view {
    float: right;
    text-align: right;
    width: 100%;
}
#header-view, #header-view a{
    color: #646464;
    font-size: 12px;
    font-weight: 600;
    line-height: 32px;
    vertical-align: top;
}
#header-view span {
    color: #7994a9;
}
.box-logins {
    float: right;
    width: 300px;
}
#header-view .link-a {
    margin: 0px 7px;
}
#header-view a {
    display: inline-block;
}
#header
{
    background-color: #fff;
    position: relative;
    z-index: 10;
}
#header .header-left
{
    float: left;
    padding: 20px 0 10px 10px;
    overflow: hidden;
    width: 30%;
}
#header .header-right
{
    float: right;
    padding-top: 20px;
    width: 65%;
}
.logo
{
    width: 148px;
}
.logo a, .logo img
{
    display: block;
    width: 100%;
}
#header .logo
{
    float: left;
}
#header .nameco
{
    overflow: hidden;
    margin-top: 29px;
}
.header-right .header-wrap {
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
}
.wrap-hotline {
    float: left;
    text-align: left;
}
#languge {
    float: right;
    vertical-align: top;
    text-align: right;
    width: 75px;
    padding-top: 10px;
}
#hotline {
    background: url(../images/icon-phone.png) no-repeat left 3px;
    padding-left: 32px;
    margin-bottom: 17px;
    vertical-align: middle;
    line-height: 30px;
    color: #5e5d5d;
    font-size: 14px;
}
#hotline strong {
    color: #ec1d25;
    font-size: 22px;
}
#hotline span {
    background: url(../images/line-hotline.png) no-repeat center center;
    height: 17px;
    padding: 0 12px;
}
.header-wrap .wrap-search {
    background-color: #f0eeef;
    border-radius: 20px;
    overflow: hidden;
}
#search {
    width: 560px;
    height: 24px;
    overflow: hidden;
    z-index: 101;
    position: relative;
    padding: 9px;
    float: left;
    overflow: hidden;
}
#search .search-form {
    background: #fff;
    border: solid 1px #c6c6c6;
    width: 463px;
    overflow: hidden;
    float: left;
    border-radius: 20px 0px 0px 20px;
}
.search-form .search-input {
    overflow: hidden;
    padding: 0 22px;
}
.search-form .search-text {
    background: #fff;
    border: none;
    display: block;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    color: #848484;
    font-style: italic;
    width: 100%;
}
.search-form .select-box {
    float: right;
    margin: 0;
    width: 108px;
}
#search .search-btn {
    background: url(../images/btn-search.png) repeat-x left top;
    border: none;
    cursor: pointer;
    display: block;
    float: right;
    color: #fff;
    padding: 4px 16px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wrap-search .cart {
    color: #424242;
    display: block;
    float: right;
    font-size: 12px;
    font-weight: 300;
    line-height: 30px;
    white-space: nowrap;
    vertical-align: top;
    padding: 4px 24px 4px 40px;
    position: relative;
    background: url(../images/cart.png) no-repeat left center;
}
/*======================================================MAIN=============================================*/
#wrapper #main-content {
    margin: 0 auto;
    overflow: hidden;
}
.wrap-in{
    position: relative;
    top: 0;
    left: 0;
}
.wrap-in .wrap-left {
    float: left;
    width: 265px;
    height: 463px;
    background-color: #c0e8fb;
}
.wrap-in .wrap-right {
    float: right;
    width: 935px;
}
#menu {
    list-style: none;
    padding-left: 15px;
    margin: 0;
    background-color: #f1f1f1;
    border-top: 1px solid #cccccc;
    position: relative;
    z-index: 99;
}
#menu a
{
    color: #282828;
    position: relative;
}
#menu a:hover
{
    text-decoration: none;
}
#menu > li {
    float: left;
    background: url(../images/line-menu.png) no-repeat right center;
}
#menu > li:last-child {
    background: none;
    padding-right: 0;
}
#menu  li {
    position: relative;
}
#menu > li > a {
    float: left;
    display: block;
    padding: 0 28px;
    font-size: 14px;
    line-height: 36px;
}

#menu > li a:hover, #menu > li.active a {
    text-decoration: none;
}

#menu ul
{
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    white-space: nowrap;
}
    #menu ul li {
        background-color: #0086c4;
        border-bottom: solid 1px #339ed0;
    }
    #menu ul li a {
        
        font-size: 14px;
        line-height: 24px;
        padding: 10px 12px;
        display: block;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }
    #menu ul ul li a {

        text-transform: none;
    }
    #menu > li > ul {
        left: 0;
        top: 100%;
    }
    #menu ul ul{
        left: 100%;
        top: 0;
        padding-left: 1px;
    }
    #menu .menu-right ul ul{
        left: auto;
        right: 100%;
        padding-left: 0;
        padding-right: 1px;
    }
    #menu ul > li:hover > a, #menu ul > li > a:hover, #menu ul > li.active > a {
        
    }
.icon-menu {
    text-align: right;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	/* padding-right: 2.5em;
	*padding-right: 1em; no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 0.5em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,1);
}
    .sf-arrows > li > .sf-with-ul:after {
        border: none;
    }
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255, 1);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
#colAside {
    float: left;
    width: 227px;
    margin: 25px 19px;
}
.menu-list {
    list-style: none;
    padding: 25px 0;
    margin: 0;
    width: 100%;
}
.menu-list > li {
    /*background-color: #0086c4;*/
    margin-bottom: 2px;
}
.menu-list li a {
    background-color: #0086c4;
    color: #FFF;
    display: block;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 11px 10px 20px;
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}
.icona-right {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    float: right;
}
.menu-list ul a {
    background-color: #c0e8fb;
    color: #383838;
    text-transform: capitalize;
    font-size: 13px;
}
.menu-list ul li {
    border-bottom: 1px solid #acd0e1;
}
.menu-list ul li:last-child {
    border: none;
}
.icon-right {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 24px;
    float: right;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    right: .5em;
    top: 50%;
    margin-top: -8px;
}
.ui-state-default .ui-icon {
    background-image: url('../images/ui-icons.png');
}
.ui-icon-circle-arrow-s {
    background-position: 0 -19px;
}
.ui-icon-circle-arrow-e {
    background-position: 0 0;
}
.ui-icon {
    width: 18px;
    height: 18px;
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}
/*=====================================*/
.section-box
{
    border: solid 1px #e3e3e3;
    overflow: hidden;
    margin-bottom: 35px;
    /*width: 978px;*/
    width: 100%;
}
/*===================*/
.title, .title a
{
    color: #464646;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 34px;
    padding: 0 20px;
}
.title a
{
    display: block;
    padding: 0;
}
.title a:hover
{
    color: #ff6c00;
    text-decoration: none;
}
.head
{
    background: #fff;
    border-top: 3px solid #ec2327;
    width: 100%;
}
.head .title
{
    float: left;
    background-color: #ec2327;
    color: #fff;
}
.head .menu-control {
    color: #aeaeae;
    overflow: hidden;
    text-align: left;
}
.menu-control li {
    float: left;
}
.menu-control li a:hover{
    text-decoration: none;
}
.menu-control .link-tabs {
    margin: 0 15px;
    text-transform: uppercase;
}
.menu-control .link-all {
    background: url(../images/icon-1.png) no-repeat right center;
    padding-right: 30px;
    margin-left: 20px;
}
.menu-control a {
    color: #3b3b3b;
    font-size: 13px;
    font-weight: 600;
    line-height: 35px;
}
.head .control-right
{
    text-align: right;
    margin-right: 12px;
    float: right;
}
.control-right .link-tabs
{
    text-transform: none;
}
.control-right li {
    float: left;
}
.head .pager
{
    float: left;
    width: 73px;
}
.head .pager a
{
    background: url(../images/controls-4.png) no-repeat left top;
    display: block;
    float: left;
    text-indent: -9999em;
    height: 34px;
    width: 36px;
}
.head .pager .prev
{
    background-position: 0 0;
}
.head .pager .prev:hover
{
    background-position: 0 -36px;
}
.head .pager .next
{
    background-position: -36px 0;
    float: right;
}
.head .pager .next:hover
{
    background-position: -36px -36px;
}
/*==============================*/
.box-type
{
    text-align: center;
    padding-bottom: 20px;
    width: 190px;
}
.box-type .type-img
{
    display: block;
    height: 95px;
    width: 190px;
}
.box-type .type-img img
{
    display: inline-block;
    vertical-align: middle;
    max-height: 95px;
    max-width: 230px;
}
.type-name a
{
    color: #666;
    display: block;
    font-size: 13px;
    line-height: 20px;
}
.type-name a span
{
    background: url(../images/icon-5.png) no-repeat right center;
    display: inline-block;
    padding-right: 15px;
}
.type-name a:hover
{
    text-decoration: none;
}
.box-type:hover .type-name a
{
    color: #ff6c00;
}
.type-name a:hover span, .box-type:hover .type-name a span
{
    background: url(../images/icon-5b.png) no-repeat right center;
}
/*===============*/
.wrap-tb
{
    overflow: hidden;
    width: 100%;
}
.tb-product
{
    border-collapse: collapse;
    margin-left: -1px;
}
.tb-product tr td
{
    border: solid 1px #dfdfdf;
    vertical-align: top;
}
.box-pro
{
    /*padding: 0 0 15px;*/
    position: relative;
    width: 240px;
}
.box-pro .icon-km
{
    right: -1px;
    top: 0;
    position: absolute;
    z-index: 10;
}
/*.box-pro .pro-type
{
    display: block;
    left: 10px;
    top: 5px;
    position: absolute;
    height: 40px;
    width: 65px;
    z-index: 9;
}
.box-pro .pro-type img
{
    display: block;
    max-height: 40px;
    max-width: 65px;
}*/
.box-pro .pro-name
{
    padding: 30px 20px 0;
}
.box-pro .pro-name a
{
    color: #282828;
    display: block;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.box-pro .pro-name a span
{
    display: block;
    text-transform: uppercase;
}
.box-pro .pro-img
{
    display: block;
    text-align: center;
    padding: 15px 0;
    position: relative;
    height: 155px;
    width: 245px;
    z-index: 1;
}
.box-pro .pro-img img
{
    display: inline-block;
    vertical-align: middle;
    max-height: 155px;
    max-width: 245px;
}
.box-pro .pro-name a:hover
{
    text-decoration: none;
}

.box-pro:hover .pro-name a
{
    color: #0086c4;
}
.box-price, .pro-bottom
{
    margin: 0 auto;
    overflow: hidden;
    width: 205px;
    padding-bottom: 12px;
}
.box-price
{
    padding: 15px 0 10px;
}
.box-price .price-lr, .pro-bottom .pro-lr 
{
    float: left;
    width: 62%;
    margin: 0 50px;
}
.box-price .discount
{
    color: #000;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}
.box-price .price
{
    color: #ec2327;
    font-size: 18px;
    font-weight: bold;
}
.box-price p
{
    color: #666;
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
}
.box-price .price-old {
    color: #686868;
    vertical-align: top;
    font-size: 13px;
}
.box-price .price-del {
    font-size: 13px;
    color: #686868;
}
.donvisc {
    font-size: 13px;
    position: relative;
    padding-left: 3px;
}
.box-dis {
    top: 70px;
    left: 169px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../images/icon-sale.png) no-repeat left top;
    z-index: 99;
}
.box-dis strong {
    color: #fff;
    display: block;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}
.bh-box {
    bottom: 188px;
    left: 0;
    position: absolute;
    width: 109px;
    z-index: 99;
}
.pro-bottom a
{
    color: #444;
    font-size: 12px;
    font-style: italic;
    display: block;
}
.box-pro .cart
{
    background-color: #0086c4;
    border: solid 1px #dfdfdf;
    line-height: 32px;
    padding: 0 23px;
    font-size: 14px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #fff;
    font-style: normal;
    font-weight: 600;
}
.box-pro .like-list
{
    background: url(../images/icon-2.png) no-repeat left center;
    margin-left: 11px;
    padding-left: 21px;
    line-height: 28px;
}
.pro-bottom a:hover
{
    text-decoration: none;
}
.img-boxleft {
    width: 238px;
    height: 361px;
    display: block;
}
#main-content #col-left {
    float: left;
    width: 240px;
    border: 1px solid #000;
}
#main-content #col-right {
    float: right;
    width: 730px;
    border: 1px solid #000;
}
/*======================================================FOOTER===========================================*/
#footer
{
    background-color: #09537c;
    padding: 15px 0;
    overflow: hidden;
}
#footer, #footer a {
    color: #fff;
    font-size: 13px;
    line-height: 20px;
}
#footer a:hover {
    text-decoration: none;
}
#footer h2 {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    padding-bottom: 5px;
    text-transform: uppercase;
}
.footer-wrapper {
    background-color: #09537c;
    padding: 30px 0;
    width: 25%;
    float: left;
}
.copyright {
    border-top: 1px solid #3a7596;
    background-color: #09537c;
    padding: 3px 56px 0;
    line-height: 48px;
    text-align: center;
    color: #88c3e4;
    width: 100%;
    float: left;
}
.copyright a {
    color: #88c3e4 !important;
}
#footer .title-f {
    padding-bottom: 5px;
}
.title-f {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}
#footer .footer-nav {
    margin-bottom: 20px;
}
#footer ul {
    padding: 0px;
    margin-bottom: 24px;
    list-style: none;
    width: 100%;
}
.footer-nav li a {
    display: block;
    padding: 8px 10px 8px 20px;
    position: relative;
}
.footer-nav .iconal {
    display: block;
    height: 18px;
    line-height: 16px;
    left: 7px;
    top: 10px;
    position: absolute;
    width: 20px;
}
.footer-address li {
    background-repeat: no-repeat;
    padding: 8px 5px 8px 28px;
}
.footer-address li.add-1 {
    background-image: url("../images/icon-fa-1.png");
    background-position: 4px 10px;
}
.footer-address li.add-2 {
    background-image: url("../images/icon-fa-2.png");
    background-position: 4px 10px;
}
.footer-address li.add-3 {
    background-image: url("../images/icon-fa-3.png");
    background-position: 4px 10px;
}
.footer-address li span
{
    font-size: 18px;
}
.form-email {
    overflow: hidden;
    padding: 10px 0px;
    width: 90%;
}
.form-email .email-input {
    float: left;
    width: 236px;
}
.email-input .input-text {
    background: #F8F8F8;
    border: 1px solid #d0d0d0;
    color: #747474;
    display: block;
    font-size: 12px;
    margin-bottom: 8px;
    height: 27px;
    line-height: 27px;
    padding: 0px 12px;
    width: 100%;
    font-style: italic;
}
.form-email p {
    margin-bottom: 24px;
}
.form-email .email-btn {
    overflow: hidden;
    float: left;
    margin-top: 16px;
}
.email-btn .button-btn {
    background: #0086c4;
    border: none;
    border-radius: 20px;
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 6px 30px;
}
.share-box
{
    vertical-align: top;
    width: 100%;
}
.share-box a
{
    vertical-align: top;
    margin-right: 5px;
}